#menu{
	
}
.menu{
    clear: both;
   
    margin:auto;
    height:50px;
    background-color:white;
  
    position: relative;
    margin-bottom:20px; padding:0; z-index:999;
	
}
.menu ul{margin:0; 
       padding:0;
      
	  
	  
}

.menu ul ul ul{left:180px; top:0;}
.menu ul ul{z-index:9999; width:180px; position:absolute; text-transform:none; text-align:left; }
.menu li{display:block; float:left; position:relative; margin:0; padding:0; }
.menu li li{width:100%; margin:0;}
.menu li a{display:block; padding: 16px 10px 8px 16px;}
.menu ul li ul{display: none;}  
.menu ul li:hover ul{display: block;}
.menu ul ul ul li {display:none; }
.menu ul ul li:hover ul li {display:block; }


.menu{color:black; background-color:#ffcc33;}
.menu li a{color:black;}
.menu li a:hover {border-bottom: 2px solid #a31e21}
.menu a{color:black; background-color:inherit;}
.menu li li a{color:black; background-color:#fff; padding: 6px 16px;}
.menu li li:hover > a, nav > a{color:#fff; background-color:#a31e21;}
.menu form select{color:#474747; background-color:#a31e21;}
.menu li a{font-size: 14px;color: black;
    font-family: inherit; text-align: left;}
.menu a:hover {color:#a31e21;}

.menu li a{
    text-decoration:none;
    color:#330000;}
